.input-container {
    display: flex;
    align-content: center;
    justify-content: center;
}

input {
    box-sizing: border-box;
    margin-bottom: 1rem;
    padding: .5vh;
    width: 35vw;
    height: 5vh;
    font-size: 3vh;
    border: none;
    border-radius: 5px;
    transition: .2s;
}

input:hover {
    cursor: pointer;
    transform: scale(105%);
    box-shadow: 0 0 20px 0 rgba(255,255,255,0.5);
}