header {
    text-align: center;
    justify-content: center;
    color: white;
}

h1 {
    margin: 1rem auto;
    font-size: 4vw;
}

h2 {
    font-size: 2vw;
    font-style: italic;
}

.glow {
    text-shadow: 0 0 15px #FFFFFF;
}

.inline {
    display: inline;
    font-size: 2vw;
}